$background-color: #18181b;
$border-color: #52525b;

@mixin flex($justify, $align, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
