@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$background-color: #18181b;
$border-color: #52525b;
$lightblack: #27272a;
$grey: #323036;
$red: #991b1b;
$green: #166534;
$white: #e4e4e7;

@mixin table($padding: 12px, $border: 1px $border-color solid, $spacing: 0px) {
    padding: $padding;
    border: $border;
    border-spacing: $spacing;
}

@mixin flex($justify, $align, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
