@use './globals' as *;

.home {
    p {
        font-size: 42px;
    }

    input {
        background: url() no-repeat 17px 17px;
        background-color: $grey;
        border: 2px $border-color solid;
        border-radius: 10px;
        border-collapse: collapse;
        height: 40px;
        width: 20vw;
        color: $white;
        font-size: 20px;
    }

    table {
        th {
            font-weight: 430;
            text-align: start;
            @include table;
            border-bottom: none;
            border-right: none;
            border-collapse: collapse;
        }

        td {
            font-weight: 330;
            @include table;
            border-right: none;
            border-bottom: none;
            border-top: none;
        }

        border-radius: 15px !important;
        border: 2px $border-color solid;
        border-spacing: 0px;
        font-size: 20px;
        width: 100%;
        overflow: hidden;
    }
    background-color: $background-color;
    height: 90vh;
    color: $white;
    font-family: Comfortaa;
    @include flex($justify: center, $align: center, $direction: column);
}

.homeheader {
    @include flex($justify: space-between, $align: center, $direction: row);
    width: 85%;
}

.table-container {
    width: 85%;
    border-radius: 15px !important;
}

a {
    color: $white;
    text-decoration: none;
}
