@use './globals' as *;

nav {
    width: 100%;
    height: 10vh;
    background-color: $background-color;
    border-bottom: 1px solid $border-color;
}

.nav-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    @include flex(space-between, center);
}

.nav-left-container {
    width: 10%;
    height: 100%;
    > .nav-logo {
        @include flex(center, center);
        width: 100%;
        height: 100%;
        > .nav-link {
            color: $white;
            text-decoration: none;
        }
    }
}

.nav-right-container {
    width: 10%;
    height: 100%;
    @include flex(center, center);
    > .nav-links-container {
        width: 100%;
        height: 100%;
        @include flex(space-between, center);
        > .nav-link {
            color: $white;
            text-decoration: none;
        }
    }
}
