@use './globals' as *;

.search {
    background: url() no-repeat 17px 17px;
    border-radius: 10px;
    border: 2px $border-color solid;
    border-collapse: collapse;
    height: 32%;
    width: 25%;
    color: $white;
    font-size: 20px;
    @include flex(center, center);
    flex-wrap: nowrap;
    overflow: hidden;

    > .search-input {
        width: 95%;
        height: 100%;
        background-color: $grey;
        border: 2px $border-color solid;
        border-collapse: collapse;
        font-size: 20px;
        color: $white;
    }

    > .search-button {
        width: 15%;
        height: 100%;
    }

    :focus {
        outline: none;
    }
}
