@use './globals' as *;

.search {
    background: url() no-repeat 17px 17px;
    z-index: 6;
    border-radius: 10px;
    border: 2px $border-color solid;
    border-collapse: collapse;
    height: 32%;
    width: 25%;
    color: $white;
    font-size: 20px;
    @include flex(center, center);
    flex-wrap: nowrap;
    overflow: hidden;

    > .search-input {
        width: 95%;
        height: 100%;
        background-color: $grey;
        border: 2px $border-color solid;
        border-collapse: collapse;
        font-size: 20px;
        color: $white;
    }

    > .search-button {
        width: 15%;
        height: 100%;
    }

    :focus {
        outline: none;
    }
}

.search-results {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
}

.search-res-box {
    width: 75vw;
    height: 15vh;
    border-radius: 10px;
    background-color: $lightblack;

    > .search-link {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;

        > .search-res-name {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 10px;
            font-size: 20px;
            gap: 5px;
            color: $white;
        }
    }
}

.results-list {
    border: 1px solid $lightblack;
    border-radius: 10px;
    width: calc(21% + 4px);
    height: fit-content;
    position: fixed;
    z-index: 5;
    top: 24%;
    left: 71%;
    padding-left: 0;
    padding-top: 15px;
    list-style: none;
    list-style-position: inside;
    background-color: $border-color;

    > .name-link {
        text-decoration: none;
        color: $white;
        font-size: 1.2em;
        height: 1.2em;
        width: 100%;
        line-height: 1.2em;
        > .result-item {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-top: 1px solid black;
            padding-top: 10px;
            padding-left: 7px;
        }
    }
}
