@use './globals' as *;

@use './nav';
@use './home';
@use './details';
@use './search';

body {
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
}

.site-container {
    width: 100%;
    min-height: 90vh;
}
