@use './globals' as *;

@use './nav';
@use './home';
@use './details';
@use './search';

body {
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    body {
        max-height: -moz-fit-content;
        max-height: fit-content;
        overflow: auto;
    }
}

.site-container {
    width: 100%;
    min-height: 90vh;
}
